<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
</head>

<body>
    Ans: {{messages}}
    <form action="/" method="post">{% csrf_token %}
        <label for="age">Please enter your age:- {{age}}</label><br>
        <input type="text" name="age"><br>
        <label for="message"> {{message}}</label><br>

        <!-- <label for="message"> {{message}}</label><br> -->
        <label for="name">Please enter your name:- {{name}}</label><br>
        <input type="text" name="name"><br>
        <button type="Submit" class="btn btn-primary">Submit your Age</button>



    </form>

</body>

</html>